<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application django</title>
</head>
<body>
    <header>
        <nav class="flex gap-[25px] justify-center text-2xl pt-2">
            <a href="{% url 'homepage' %}">Film</a>
            <a href="{% url 'add_movies' %}">Ajouter un film</a>
            <a href="{% url 'contact_form' %}">Formulaire de contact</a>
        </nav>
    </header>

    <main>
        <!--Contenu spécifique aux templates-->
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <!--Footer -->
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>