<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application django</title>
</head>
<body class="bg-gray-200 container sm m-auto">
    <header>
        <nav class=" h-24 flex justify-center align-center mt-5">
            <ul class="flex justify-around p-2.5 w-2/4 m-auto">
                <li><a href="{% url 'homepage' %}" class="px-5 py-2.5 bg-white hover:bg-blue-500 rounded-full hover:text-white">Home</a></li>
                <li><a href="{% url 'add_movies' %}" class="px-5 py-2.5 bg-white hover:bg-blue-500 rounded-full hover:text-white">Add a movie</a></li>
                <li><a href="{% url 'contact_form' %}" class="px-5 py-2.5 bg-white hover:bg-blue-500 rounded-full hover:text-white">Contact us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!--Contenu spécifique aux templates-->
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <!--Footer -->
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>