{% extends 'app1/base.html' %}
{% block content%}

<h1>Voici les détails du film : " {{movie.name}} " </h1>

<ul>
    <li>Année de production : {{ movie.year }}</li>
    <li>Responsable cinématographique : {{ movie.author }}</li>
    <li>Avez-vous vu ce film? {{ movie.seen_or_not|yesno }}</li>
    <li>Le genre de ce film : {{ movie.get_genre_display }}</li>
    <li>Page du film : <a href="{{ movie.official_page }}" target="_blank">{{ movie.name }}</a></li>
</ul>

<a href="{% url 'homepage' %}">Retour à la page des films</a>
{% endblock %}